body{
    background:linear-gradient(90deg, rgb(175, 41, 41) -3%,rgb(73, 73, 185) 52%,rgb(185, 220, 8) 88%,green 100%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
h1{
    text-transform: uppercase;
    color: white !important;
    font-size: 2rem;
}